<footer>
<p>
  This example site was built by <a href="https://www.hawksworx.com">Phil Hawksworth</a> using some of the tools available on <a href="https://www.netlify.com">Netlify</a>.
</p>
<p>
  The code is intended as a reference implementation and is freely available on <a href="https://github.com/">Github</a>
</p>
</footer>
