<footer>
<p>
  This example site was built by <a href="https://www.hawksworx.com">Phil Hawksworth</a> using some of the tools available on <a href="https://www.netlify.com">Netlify</a>.<br />
  The site and its code are intended as a reference implementation. You can find the code freely available on <a href="https://github.com/philhawksworth/jamstack-comments-engine">Github</a>.
</p>
</footer>
