<div class="note">

## You've still got a little config to do

It looks like you are just setting this up in a new site on Netlify. Woohoo!

{% if environment.SITE_NAME %}
  {% set envHelpLink = "https://app.netlify.com/sites/" + environment.SITE_NAME + "/settings/deploys#build-environment-variables" %}
{% else %}
  {% set envHelpLink = "https://docs.netlify.com/continuous-deployment/#build-environment-variables" %}
{% endif %}

You'll just need to ensure the [required environment variables]({{envHelpLink}}) your site before everything will work.

{% if not environment.NETLIFY_AUTH_TOKEN_ready  %}
👉 `NETLIFY_AUTH_TOKEN`

Grants permission to use the Forms API. Get this by [creating new Personal Access Token](https://app.netlify.com/account/applications)
{% endif %}

{% if not environment.SLACK_WEBHOOK_URL_ready  %}
👉 `SLACK_WEBHOOK_URL`

In order to have the notifications appear in Slack, you'll need to create a Slack app with a webhook URL. [Here's how]().
{% endif %}
</div>
