## You've still got a little config to do

It looks like you are just setting this up in a new site on Netlify. Woohoo!

You'll just need to add a couple of environment variables your site before everything will work. This are:

- `FORM_ID` - to identify where to find the queued comment data in the [submissions API](https://www.netlify.com/docs).
- `AUTH_ID` - to [grant permission](https://www.netlify.com/docs) to read and wrote to the API
