---
layout: layouts/base.njk
pageClass: events
---

date: {{ date | dateDisplay }}

<main>
  {{ content | safe }}
</main>
<div class="comments">
 {% include "comment-form.njk" -%}
 {% include "comments.njk" -%}
</div>
