<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ pageClass }}">
    <header>
      <ul class="nav">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </header >
    {{ content | safe }}
  </body>
</html>



